.directory {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.dirHeader {
  text-align: center;
  margin-bottom: 100px;
}

.dirHeader h1 {
  font-size: 1.7rem;
  padding: 30px 0 30px;
}

.dirHeader p {
  padding: 0px 30px;
  line-height: 30px;
  font-size: 1.1rem;
}

.dirHeader p a {
  text-decoration: none;
  color: #1c3afe;
  border-bottom: 1px solid #1c3afe;
}

.dirHeader p a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.state {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
}

.catfe {
  display: flex;
  gap: 30px;
  margin: 50px;
}

.businessCard {
  display: flex;
  background-color: white;
}

.businessCard img {
  flex: 1;
  margin-right: 10px;
  background-color: #1c3afe;
}

.cafeDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.cafeName {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.cafeDetails p {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.addInfo {
  padding: 10px 0;
}

.addInfo b {
  font-size: 1.1rem;
}

.addInfo p {
  padding-bottom: 10px;
}

.addInfo button {
  border: none;
  padding: 13px 23px;
  cursor: pointer;
  background-color: black;
}

.addInfo button a {
  text-decoration: none;
  color: white;
}

.addInfo button:hover {
  background-color: rgba(0, 0, 0, 0.74);
}

@media screen and (max-width: 1200px) {
  .catfe {
    flex-wrap: wrap;
    justify-content: center;
  }
}
