.navBar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  padding: 40px 0;
  z-index: 999;
  background-color: #f8f8f8;
}

.top {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuOpenerWrapper {
  height: 30px;
  width: 35px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.menuOpenerWrapper span {
  height: 3px;
  width: 72%;
  position: absolute;
  background-color: black;
  color: black;
  left: 50%;
  transform: translate(-50%);
  height: 4px;
  margin-left: auto;
  border-radius: 3px;
}

.menuOpenerWrapper span:first-child {
  top: 6px;
}

.menuOpenerWrapper span:last-child {
  bottom: 6px;
}

.siteLogo img {
  cursor: pointer;
}

.navTopRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaQueryDiv img {
  display: none;
}

.socialMediaLinks {
  height: 60px;
  display: flex;
  align-items: center;
}

.hoverContainer:hover > .socialMediaLinks a {
  opacity: 0.3;
}

.socialMediaLinks a {
  text-decoration: none;
  user-select: none;
  transition: 0.5s ease;
  height: max-content;
  padding-right: 10px;
}

.socialMediaLinks a:hover {
  opacity: 1 !important;
}

.socialMediaLinks::after {
  content: "";
  height: 30px;
  width: 0.3px;
  background-color: rgb(201, 201, 201);
}

.navSearchIcon {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: 0.5s ease;
  margin-bottom: 2px;
  margin-left: 10px;
}

.navSearchIcon img:last-child {
  display: none;
  margin-left: 1px;
}

.bottom {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  min-width: 500px;
  white-space: nowrap;
}

.bottom::after,
.bottom::before {
  content: "";
  width: 17.2%;
  height: 1px;
  background-color: lightgray;
}

.navMenuOptions {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navItem {
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.policiesDropdownButton {
  cursor: pointer;
  min-width: 100px;
}

.navItem a,
.policiesDropdownButton {
  text-decoration: none;
  color: #bbbbbb;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.navItem a:hover,
.policiesDropdownButton:hover {
  color: #1c3afe;
}

.navPolicies {
  position: relative;
}

.policiesDropdownWrapper {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f0f0f0;
  display: none;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.policiesDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 20px 0;
}

.policiesDropdown li {
  padding-bottom: 16px;
}

.active {
  color: #1c3afe !important;
  font-size: 1.5rem;
  cursor: pointer;
}

.searchField {
  visibility: hidden;
}

#searchFieldInput {
  background-color: #f8f8f8;
}

.searchField input {
  position: fixed;
  top: 50%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .navBar {
    padding-bottom: 20px !important;
  }

  .top {
    justify-content: center;
  }

  .menuOpenerWrapper {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
  }

  .navTopRight {
    position: fixed;
    bottom: 6px;
    right: 10px;
  }

  .socialMediaLinks {
    position: fixed !important;
    top: 40%;
    left: 0;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    margin-right: 25px;
    position: relative;
    background-color: #f8f8f8;
  }

  .socialMediaLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
  }

  .socialMediaLinks a img {
    margin: 0 auto;
  }

  .socialMediaLinks::after {
    display: none;
  }

  .mediaQueryDiv {
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100vw;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
  }

  .mediaQueryDiv img {
    cursor: pointer;
  }

  .kebabMenu {
    display: block !important;
  }

  main {
    margin-top: 114px !important;
  }

  .bottom {
    display: none !important;
  }
}
