<footer>
    <div class="footerWrapper">
        <div class="footerSubscribe">
            <h3>Subscribe to Our Newsletter </br> - MEOW!</h3>
            <div class="userInputFooter">
                <input id="input" type="email" placeholder="Email Address">
                <button id="button">Sign Up</button>
            </div>
        </div>
        <div class="footerSocials">
            <h5>Follow Us</h5>
            <div class="hoverContainer">
                <div class="footerSocialLinks">
                    <a href="https://facebook.com">
                        <img src="../images/fbLogo.svg" alt="" height="25">
                    </a>
                    <a href="https://twitter.com">
                        <img src="../images/twitterLogo.svg" alt="" height="25">
                    </a>
                    <a href="https://instagram.co.il">
                        <img src="../images/igLogo.svg" alt="" height="25">
                    </a>
                </div>
            </div>
        </div>
        <div class="footerNav">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Directory</a>
            <a href="">Contact</a>
            <a href="">+ policies</a>
        </div>
        <div class="copyrightInfo">
            <h4>COPYRIGHT</h4>
            <p>© 2015-2017 </br> That Cat Blog, All Rights Reserved.</p>
        </div>
    </div>
</footer>
