<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%> 
    <link rel="stylesheet" href="/directory.css">
    <title>That Cat Blog | Directory</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <main class="directory">
        <div class="wrapper">
            <div class="dirHeader">
                <h1>Cat Cafe Directory - United States</h1>
                <p>Cat cafes used to be limited to Japan, but not anymore! We savvy Americans have caught on and now boast over 40 cat cafes across the US. SO without further adieu, here is our <b>US Cat Cafe Directory</b>, listed by state. How many have YOU been to? 😻 Did we miss any? <a href="contact.html">Let us know</a>! </p>
            </div>
            <div class="byState">
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>
