<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/blog.css" type="text/css">
    <title>That Cat Blog | Home</title>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/nav') %> 
        <main class="blog" style="text-align: center;">
            <div class="articlesWrapper" id="articlesWrapper">
                <div>
                    <button class="loadMore">Load More</button>
                </div>
            </div>
        </main>
    </div>
    <%- include('./partials/footer') %> 
</body>

</html>
